.publications(data-aos="custom-animation")
  .spacer-block
    .wrapper
      h1.alpha Publications
      .publications-content
        .publications-list
          a.publications-item(href='https://danielseiler.medium.com/juicy-web-the-2023-business-website-standard-2212c7b6cc2a', target='_blank' rel='noopener noreferrer')
            p.beta
              span “Juicy Web” — A new website standard
            p.text-sm 2023
            p.text-sm Digital Brand Design
          a.publications-item(href='https://www.linkedin.com/pulse/minimum-viable-design-system-guide-daniel-seiler/', target='_blank' rel='noopener noreferrer')
            p.beta
              span Minimum Viable Design System Guide
            p.text-sm 2023
            p.text-sm Product Design Strategy
          .publications-item.empty
          a.publications-item(href='https://danielseiler.medium.com/the-gestalt-of-ai-creations-4e02525d97a2', target='_blank' rel='noopener noreferrer')
            p.beta
              span The Gestalt of
              span AI Creations
            p.text-sm 2018
            p.text-sm Aesthetics in AI
          a.publications-item(href='https://danielseiler.medium.com/the-3-business-models-in-design-baf95f60ebca ', target='_blank' rel='noopener noreferrer')
            p.beta
              span The 3 Values
              span of Design
            p.text-sm 2018
            p.text-sm Strategy
          a.publications-item(href='https://aucta.io/blog/blog/interaction-design-principles_the_cursor', target='_blank' rel='noopener noreferrer')
            p.beta The Cursor
            p.text-sm 2019
            p.text-sm Spatial Interaction Design
          .publications-featured.show-on-mobile
            a.card(href='https://www.youtube.com/watch?v=_dOTWrAzIzg', target='_blank' rel='noopener noreferrer')
              img(src='assets/img/daniel.png', alt='Daniel Seiler')
              h2.beta How AR Might Change How We Think
              p.text-sm 2018
              p.text-sm Extended Reality
          a.publications-item(href='https://aucta.io/blog/blog/know_how_transfer', target='_blank' rel='noopener noreferrer')
            p.beta
              span Tools for
              span Know-How Transfer
            p.text-sm 2019
            p.text-sm Extended Reality
          a.publications-item(href='https://aucta.io/blog/blog/18_ways_of_thinking', target='_blank' rel='noopener noreferrer')
            p.beta
              span 18 Ways of Thinking
            p.text-sm 2019
            p.text-sm Psychology
          a.publications-item(href='https://aucta.io/blog/blog/is_2d_dead', target='_blank' rel='noopener noreferrer')
            p.beta
              span Is 2D Dead?
            p.text-sm 2019
            p.text-sm Spatial Interaction Design
          a.publications-item(href='https://aucta.io/blog/blog/AR_usability_comparison_by_device', target='_blank' rel='noopener noreferrer')
            p.beta
              span AR Usability
              span Comparison by Device
            p.text-sm 2019
            p.text-sm Extended Reality
          a.publications-item(href='https://aucta.io/blog/blog/interaction-design-principles_intuitive_first_fast_second/', target='_blank' rel='noopener noreferrer')
            p.beta
              span Intuitive First –
              span Fast Second
            p.text-sm 2019
            p.text-sm Spatial Interaction Design
          a.publications-item(href='https://aucta.io/blog/blog/research_memorization/', target='_blank' rel='noopener noreferrer')
            p.beta
              span Memorization
            p.text-sm 2019
            p.text-sm Extended Reality
          a.publications-item(href='https://aucta.io/blog/blog/the_work_place', target='_blank' rel='noopener noreferrer')
            p.beta
              span The Workplace
            p.text-sm 2019
            p.text-sm Design Theory
        .publications-featured.show-on-desktop
          a.card(href='https://www.youtube.com/watch?v=_dOTWrAzIzg', target='_blank' rel='noopener noreferrer')
            img(src='assets/img/daniel.png', alt='Daniel Seiler')
            h2.beta How AR Might Change How We Think
            p.text-sm 2018
            p.text-sm Extended Reality
