.has-clear-gradient
  .wrapper
    .aucta-block(data-aos="custom-animation")
      .block-info
        h1.jumbo A revolution in sales, training and service
        p.main-text Giving industrial manufacturers the opportunity to leverage interactive 3D using AUCTA as an enterprise software solution.
      .block-visual
        img(src='assets/img/aucta/aucta-process.svg', alt='Aucta process')
    .aucta-block(data-aos="custom-animation")
      .block-info
        h1.jumbo Product User Interfaces
        p.main-text The main 2D-UI elements of the consumer experience are held on the outer edge to enable users the full focus on the centered 3D content.
      .block-visual.mobile-top.left-align
        img(src='assets/img/aucta/aucta-ipad.png', alt='Aucta editor in ipad')
