.project-dot-grid
  span.dot.green
  span.dot.green
  span.dot.cyan
  span.dot.cyan
  span.dot.blue
  span.dot

  span.dot.green
  span.dot.green
  span.dot.cyan
  span.dot.cyan
  span.dot.blue
  span.dot

  span.dot.green
  span.dot.green
  span.dot.cyan
  span.dot.cyan
  span.dot.blue
  span.dot

  span.dot.green
  span.dot.green
  span.dot.cyan
  span.dot.cyan
  span.dot.blue
  span.dot
