.project-dot-grid
  span.dot.green.js-tippy.disabled(data-tippy-content='Product Leadership')
  span.dot.green.js-tippy.disabled(data-tippy-content='Product Leadership')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Product Design')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Product Design')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Product Branding')
  span.dot

  span.dot.green.js-tippy.disabled(data-tippy-content='Product Leadership')
  span.dot.green.js-tippy.disabled(data-tippy-content='Product Leadership')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Product Design')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Product Design')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Product Branding')
  span.dot

  span.dot.green.js-tippy.disabled(data-tippy-content='Product Leadership')
  span.dot.green.js-tippy.disabled(data-tippy-content='Product Leadership')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Product Design')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Product Design')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Product Branding')
  span.dot

  span.dot.green.js-tippy.disabled(data-tippy-content='Product Leadership')
  span.dot.green.js-tippy.disabled(data-tippy-content='Product Leadership')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Product Design')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Product Design')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Product Branding')
  span.dot
