.project.aucta
  include aucta-hero.pug
  .wrapper
    include aucta-data.pug
  .wrapper
    .aucta-block
      .block-info
        h1.jumbo A revolution in sales, training and service
        p.main-text Giving industrial manufacturers the opportunity to leverage interactive 3D using AUCTA as an enterprise software solution.
      .block-visual
        img(src='assets/img/aucta/aucta-process.png', alt='Aucta process')
