.has-clear-gradient
  .wrapper
    .aucta-app
      .block-visual
        img(src='assets/img/aucta/aucta-iphone.png', alt='Aucta editor iphone')
      .block-info
        h1.jumbo 3D Cross-Device Application
        .text-grid
          .text-block
            h2.beta Simplification
            p.main-text All functional elements of the interface are therefore carefully specified in size and position to provide maximum accessibility for the actual content. Think of it like the interface for a video player, where the key action is watching the video.
          .text-block
            h2.beta Intuitiveness
            p.main-text The key to an effective user interface is intuitiveness on first sight and giving the user maximum space to navigate and see the 3D guides.
          .text-block
            h2.beta Redefining the status quo
            p.main-text Assembly and maintenance of machinery & equipment can be superiorily handled with AUCTAs 3D guides.
          .text-block
            h2.beta Instant availability
            p.main-text Content owners can publish content directly to their field experts which have content instantly available via the web app which requires no installations.
.
