.info-data(data-aos="custom-animation")
  .info-piece
    p.value ~$1M
    p.label Raised since 2019
  .info-piece
    p.value 10+
    p.label Team size
  .info-piece
    p.value
      span.show-on-mobile 70k+
      span.show-on-desktop 70.000+
    p.label Minutes consumption of AUCTA content
  .info-piece
    p.value
      span.show-on-mobile 1.2k
      span.show-on-desktop 1200+
    p.label Days since legal incorporation date
