.has-clear-gradient(data-aos="custom-animation")
  .wrapper
    .aucta-brand
      h1.jumbo Vision = Identity
      .cards
        .card(data-aos="custom-animation")
          .card-visual
            img.card-img(src='assets/img/aucta/aucta-logo.png', alt='Aucta logo')
          .card-text
            p.main-text A 5 letter, 2 syllable word – easy to pronounce with little room for misinterpretation in its spoken form. English speakers pronounce it “okta”, Germans like to say it with an “au” – both is good.
            p.main-text A functional element to a good name is its shortness and memorability build the foundation for a strong software brand.
        .card(data-aos="custom-animation")
          .card-visual
            img.card-img(src='assets/img/aucta/aucta-typography.png', alt='Aucta Typography')
          .card-text
            p.main-text The form of the logo letters can be painted with a paint roller by hand – that’s where it originally comes from. This strong DNA from manual labor poured into the digital world equals AUCTAs practical applications strong link to non-virtual work activities.
        .card(data-aos="custom-animation")
          .card-visual
            img.card-img(src='assets/img/aucta/aucta-imagotipo.png', alt='Aucta imagotipo')
          .card-text
            p.main-text The AUCTA symbol is the symbol for “interface” in the computer science flow graph language (yeah... hardly anyone knows this anymore). Reading it “from left to right” narrates a story of turning something digital and invisible into something humanly visible.
        .card(data-aos="custom-animation")
          .card-visual
            img.auctare(src='assets/img/aucta/auctare.svg', alt='Auctare')
            p.subtitle Latin, verb
            p.subtitle To enrich, to increase
          .card-text
            p.main-text A 5 letter, 2 syllable word – easy to pronounce with little room for misinterpretation in its spoken form. English speakers pronounce it “okta”, Germans like to say it with an “au” – both is good.
            p.main-text A functional element to a good name is its shortness and memorability, both of which AUCTA seemed to have worked really well so far.
