.has-clear-gradient
  .wrapper
    .aucta-app
      .block-visual
        img(src='assets/img/aucta/aucta-iphone.png', alt='Aucta editor iphone')
      .block-info
        h1.jumbo 3D Cross-Device Application
        .text-grid
          .text-block
            h2.beta Simplification
            p.main-text All functional elements of the interface are carefully specified in size and position to provide maximum accessibility for the actual content much like a video player UI should not harm the possibility to consume content.
          .text-block
            h2.beta Intuitiveness
            p.main-text The key to an effective user interface and experience is when the majority of users have no trouble operating the product for the very first time, especially when many users only have sporadic interaction with AUCTA.
          .text-block
            h2.beta Redefining
              br
              | the status quo
            p.main-text All functional elements of the interface are carefully specified in size and position to provide maximum accessibility for the actual content much like a video player UI should not harm the possibility to consume content.
          .text-block
            h2.beta Instant availability
            p.main-text The deep tech challenge with AUCTA is allowing users to access content instantly without huge loading times or UX barriers like app downloads. The competitive landscape wasn’t able to provide that to the market which gives AUCTA a technological advantage.
.
