.has-clear-gradient
  .wrapper
    .aucta-block.inline-block
      .block-info
        h1.jumbo Organization
          br
          | Design
        p.main-text The difference between creating a venture and designing for a project is that the design focus lies in a different layer to achieve great results.
        p.main-text While both tasks (org design and designing a feature) benefit from similar design principles, aiming to repeatedly achieve greatness within a product starts my forming the right team, which takes responsibility for the product.
        p.main-text In a leadership role it is obligatory to keep all efforts in improvements on the team level and not manage deeper levels.
      .block-visual.mobile-top
        img(src='assets/img/aucta/aucta-stages.png', alt='Aucta stages')
