.has-clear-gradient(data-aos="custom-animation")
  .wrapper
    .aucta-values
      .block-info(data-aos="custom-animation")
        h1.jumbo Values
        .text-block(data-aos="custom-animation")
          h2.beta Autonomy
          p.main-text Enable AUCTAs customers to leverage 3D data with internal teams and resources and act autonomously with how they want to use their data.
        .text-block(data-aos="custom-animation")
          h2.beta Devotion
          p.main-text Put the customers needs first and devote the entire creational process to what generates most benefit for customers.
        .text-block(data-aos="custom-animation")
          h2.beta Innovation
          p.main-text Innovation results through a cultural set of behaviors in open and critical thinking and creativity.
        .text-block(data-aos="custom-animation")
          h2.beta Joy
          p.main-text Media creation, be it photography, video, text, audio, 3D content and anything in between can and should be a joyful process. The joy in the process of creation shines through to what customers get.
      .block-visual.mobile-top(data-aos="custom-animation")
        img(src='assets/img/aucta/aucta-team.webp', alt='Aucta Team')
        p.text-sm With an office in Berlin and one in Madrid and a global remote team, time spent together in the same location is always a highlight everyone’s looking forward to.
