.spacer-block.has-clear-gradient
  .wrapper
    .project-hero(data-aos="custom-animation")
      .hero-info
        h1.jumbo.op-30 Project
        h1.jumbo AUCTA
        .project-tags
          p.main-text 2019 – now
          p.main-text Strategy
          p.main-text Venture
          p.main-text Design
          p.main-text
          p.main-text Branding
        include aucta-dot-grid.pug
        p.main-text Founded by Elías Alonso, Henri Huselstein and myself in 2019, AUCTA is a venture to enable companies to utilize their spatial data to improve business processes.
        p.main-text AUCTA provides a 3D content enhancement platform to machine, vehicle, appliance and other manufacturers in the European space.
        p.main-text My responsibilities range from vision to fundraising, to customer acquisition, to team building, to fostering the culture, to managing clients and releasing product version after product version. As a Chief Product Officer I do however put most of my focus into customer guided product development.
        a.button(href='https://aucta.io/', target='_blank', rel='nopener noreferrer') Visit aucta.io
      .hero-image(data-aos="custom-animation")
        img(src='assets/img/aucta/aucta-editor-full.webp', alt='Aucta editor')
    include aucta-data.pug
