.project-dot-grid
  span.dot.green.js-tippy.disabled(data-tippy-content='Product strategy definition & buy-ins')
  span.dot.green.js-tippy.disabled(data-tippy-content='Executive coaching')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Feature flow /experience mapping')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Icon & illustration animation')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Carving values')
  span.dot

  span.dot.green.js-tippy.disabled(data-tippy-content='Deductive goal Definement')
  span.dot.green.js-tippy.disabled(data-tippy-content='Research')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='UI design systems')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Icon design & iconset design')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Website design')
  span.dot

  span.dot.green.js-tippy.disabled(data-tippy-content='OKR design & supervision')
  span.dot.green.js-tippy.disabled(data-tippy-content='Quality improvement')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='User experience design')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Interaction design')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Logo design')
  span.dot

  span.dot.green.js-tippy.disabled(data-tippy-content='Product leadership')
  span.dot.green.js-tippy.disabled(data-tippy-content='Roadmap design & refocus')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='User interface design')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='UX flow mapping')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Brand & identity strategy')
  span.dot
