extends layout/layout.pug
block head
  include includes/head.pug
  +head('Project: Allianz Check my back', '' )
block vars
  - var wrapperClass = 'light-theme';
  - var htmlClass = 'light-theme';
block content
  include includes/menu.pug
  +menu('projects')
  include includes/projects/allianz/allianz-content.pug
