extends layout/layout.pug
block head
  include includes/head.pug
  +head('Project:I am Hugo', '' )
block vars
  - var wrapperClass = 'light-theme';
  - var htmlClass = 'light-theme';
block content
  include includes/menu.pug
  +menu('projects')
  include includes/projects/hugo/hugo-content.pug
