extends layout/layout.pug
block head
  include includes/head.pug
  +head('Project: Nucleus Iconset', 'Case study of the creation of the world famous professional iconset Nucleus Icons.', 'Iconset, icon set, icons, monoline, duotone, product design, passive income, bootstrap, organic' )
block content
  include includes/menu.pug
  +menu('projects')
  include includes/projects/nucleus/nucleus-content.pug
