extends layout/layout.pug
block menu
  include includes/menu.pug
  +menu('publications')
block content
  .spacer-block
    .wrapper
      p PUBLICATIONS
block footer
  include includes/footer.pug
  +footer
