extends layout/layout.pug
block menu
  include includes/menu.pug
  +menu('publications')
block content
  include includes/publications/publications-content.pug
block footer
  include includes/footer.pug
  +footer
