extends layout/layout.pug
block menu
  include includes/menu.pug
  +menu('services')
block content
  .wrapper
    include includes/services-content.pug
block footer
  include includes/footer.pug
  +footer
