.text-grid.wrapper.pepe-info(data-aos="custom-animation")
  .hero-info.text-block
    h1.title.op-30 Project
    h1.title Book a Speaker
    .project-tags
      p.main-text 2017
      p.main-text Design
      p.main-text Project
      p.main-text Branding
    include holtzbrinck-dot-grid.pug
  .text-block
    h2.text-title Opportunity
    p.text With nearly 2Bn€ annual turnover, Holtzbrinck is one of the biggest publishers in Germany and has many famous TV personalities and book authors in its portfolio.
      br
      | The publisher aimed to capture a business opportunity where many event organizers and organizations would have the possibility to book famous authors and personalities.
  .text-block
    h2.text-title Approach
    p.text As the head of design at Hackerbay I worked with the stakeholders to aggregate all requirements for a production ready design.
      br
      | We distilled a concept into a pragmatic minimum viable product (MVP) to give a solid start that could be developed and launched quickly.
  .text-block
    h2.text-title Solution
    p.text With the design language chosen, I made the speakers the biggest central visual element. The goal was to achieve an experience that sparked desire to book a personality.
      br
      | The identity of the platform unifies the intellectual spectrum of the speakers. and make it attractive for speakers to be listed, but also for customers to be willing to invest.
