.text-grid.wrapper.holtzbrinck-info(data-aos="custom-animation")
  .hero-info.text-block
    h1.title.op-30 Project
    h1.title Book a Speaker
    .project-tags
      p.main-text 2017
      p.main-text Design
      p.main-text Project
      p.main-text Branding
    include holtzbrinck-dot-grid.pug
  .text-block
    h2.text-title Opportunity
    p.text With nearly 2Bn€ annual turnover, Holtzbrinck is one of the biggest publishers in Germany and has many famous TV personalities and book authors in its portfolio.
      br
      | The publisher aimed to capture a business opportunity where many event organizers and organizations would have the possibility to book famous authors and personalities.
  .text-block
    h2.text-title Approach
    p.text As the design lead in the project I worked with the stakeholders to aggregate all requirements for a production ready design. A concept was distilled into a pragmatic minimum viable product (MVP) with reasonable scope for a quick development and launch.
  .text-block
    h2.text-title Solution
    p.text It was obligatory to give speakers the stage visually. The goal was to achieve an experience that sparked desire to book a personality. The identity of the platform unifies the intellectual spectrum of the speakers through distinct choices in the interface design. The client wanted to present a prestigious channel for the speakers while also creating a desirable portfolio for customers to invest in one of their speakers.
