.spacer-block(data-aos="custom-animation")
  .wrapper
    .browser-video
      video.video(autoplay loop muted)
        source(src="/assets/videos/book-speaker-recording.mp4")
      img.image(src='/assets/img/book-a-speaker.webp', alt='Book a Speaker')
