mixin circleGrid(activeCircle)
  .circle-grid
    span.circle(class={active: activeCircle === 1})
    span.circle(class={active: activeCircle === 2})
    span.circle(class={active: activeCircle === 3})
    span.circle(class={active: activeCircle === 4})
    span.circle(class={active: activeCircle === 5})
    span.circle(class={active: activeCircle === 6})
    span.circle(class={active: activeCircle === 7})
    span.circle(class={active: activeCircle === 8})
