mixin dotGrid(activeDot)
  .dot-grid
    span.dot(class={active: activeDot === 1})
    span.dot(class={active: activeDot === 2})
    span.dot(class={active: activeDot === 3})
    span.dot(class={active: activeDot === 4})
    span.dot(class={active: activeDot === 5})
    span.dot(class={active: activeDot === 6})
    span.dot(class={active: activeDot === 7})
    span.dot(class={active: activeDot === 8})
