- var wrapperClass = '';
block vars

//- layout.pug
html
  include ../includes/head.pug
  body
    .outer-wrapper(class=wrapperClass)
      block content
      block footer
        include ../includes/footer.pug
        +footer
  include ../includes/scripts.pug
