- var wrapperClass = '';
block vars

//- layout.pug
html
  block head
    include ../includes/head.pug
    +head('Daniel Seiler – Product Design', 'Freelance designer and consultant for product strategy, design and branding.', 'UI, UX, user experience, product design, product strategy, hacker, entrepreneur, freelancer, founder, chief product officer, venture capital')
  body
    .outer-wrapper(class=wrapperClass)
      block content
      block footer
        include ../includes/footer.pug
        +footer
  include ../includes/scripts.pug
  block scripts
