.spacer-block
  .wrapper
    .project-hero(data-aos="custom-animation")
      .hero-info
        h1.title.op-30 Project
        h1.title Allianz
          br
          | Check My Back
        .project-tags
          p.main-text 2017
          p.main-text Design
          p.main-text Project
          p.main-text
        include allianz-dot-grid.pug
        p.main-text On rank 47 on the fortune 500 list, Allianz is frankly not a small insurance company.
          br
          | The amount of health insured clients stretches into the millions.Moreso is Allianz’ interest to facilitate pro-active behavior that exceeds their clients healthiness way into their 60s and beyond. One of the biggest rising problems of office workers is back pain.Long sitting hours, hardly any exersize during work, little to no movement and unhealthy poses generate lasting effects on the back of people.
          br
          | A client engagement portal to reduce back pain through community interaction and medical professional guided courses was aimed to support people with their back pains.
      .hero-image(data-aos="custom-animation")
        img(src='assets/img/allianz/ipad.png', alt='Allianz Check My back ipad')
