.text-grid.wrapper
  .text-block
    h2.text-title Subject matter
      br
      |experts
    p.text Giving medical advice online is a sensitive topic. Allianz worked out a concept where doctors and certified health professionals defined a system of questionnaires and answers which lead to proposed treatment.
  .text-block
    h2.text-title Questionnaire
      br
      | wizard
    p.text A questionnaire wizard based on a complex tree of questions and answers provided the most simple answer on how clients could most easily be onboarded and explain their pain while making sure a solid diagnosis was set prior to providing a personalized training plan.
  .text-block
    h2.text-title Personalized
      br
      | training plan
    p.text Part of the solution was providing clients with a personal training plan, catered to the information given from patients and their current pain statements. A combination of video content you’d know from your favorite fitness app and written manuals was made accessible after a personal login and questions answered.
  .text-block
    h2.text-title In-app doctors
      br
      | appointments
    p.text For all clients (or better: patients) who did not benefit from the given training materials, doctors appointments could directly be booked out of the web app to match those in need with medical experts to provide further treatment.
