.block-carousel
  .custom-carousel
    img(src="/assets/img/allianz/slide1.png", alt="Slide 1")
    img(src="/assets/img/allianz/slide2.png", alt="Slide 2")
    img(src="/assets/img/allianz/slide3.png", alt="Slide 3")
