.block-carousel(data-aos="custom-animation")
  .custom-carousel
    img(src="/assets/img/allianz/slide1.webp", alt="Slide 1")
    img(src="/assets/img/allianz/slide2.webp", alt="Slide 2")
    img(src="/assets/img/allianz/slide3.webp", alt="Slide 3")
