.projects(data-aos="custom-animation")
  .spacer-block
    .wrapper
      h1.alpha Projects
      .projects-content
        .projects-list
          a.projects-item(href='/aucta.html')
            .beta.title
              include ../shared/dot-sign.pug
              +dotSign('all')
              span.text AUCTA
            p.label 2019 – now
            p.label Venture
            p.label Product Strategy, Product Design,
            p.label Branding
          a.projects-item(href='/nucleus.html')
            .beta.title
              include ../shared/dot-sign.pug
              +dotSign('pair', 'blue', 'green')
              span.text Nucleus Iconset
            p.label 2017 – now
            p.label Venture
            p.label Product Design,
            p.label Branding
          .projects-item.js-tippy.disabled(data-tippy-content='This case study is confidential')
            .beta.title
              include ../shared/dot-sign.pug
              +dotSign('single', 'green')
              span.text Hugo Boss – AI
                br
                | Shopping Experience
            p.label 2018
            p.label Project
            p.label Product Design
          .projects-item.js-tippy.disabled(data-tippy-content='This case study is confidential')
            .beta.title
              include ../shared/dot-sign.pug
              +dotSign('single', 'green')
              span.text Allianz –
                br
                | Check My Back
            p.label 2017
            p.label Project
            p.label Product Design
          .projects-item.js-tippy.disabled(data-tippy-content='This case study is confidential')
            .beta.title
              include ../shared/dot-sign.pug
              +dotSign('single', 'green')
              span.text Vodafone
                br
                | Repair Assistant
            p.label 2017
            p.label Project
            p.label Product Design
          .projects-item.js-tippy.disabled(data-tippy-content='This case study is confidential')
            .beta.title
              include ../shared/dot-sign.pug
              +dotSign('single', 'cyan')
              span.text Hackerbay
                br
                | Brand & Website
            p.label 2016
            p.label Product
            p.label Branding
          a.projects-item(href='/skype.html')
            .beta.title
              include ../shared/dot-sign.pug
              +dotSign('single', 'green')
              span.text Skype
                br
                | Developer Platform
            p.label 2016
            p.label Venture
            p.label Project
            p.label Product Design
          .projects-item.js-tippy.disabled(data-tippy-content='This case study is confidential')
            .beta.title
              include ../shared/dot-sign.pug
              +dotSign('all')
              span.text Wizart App
            p.label 2015-2016
            p.label Venture
            p.label Product Design, Branding
          .projects-item.js-tippy.disabled(data-tippy-content='This case study is confidential')
            .beta.title
              include ../shared/dot-sign.pug
              +dotSign('single', 'cyan')
              span.text Baier Depner
                br
                | Rechtsanwälte
            p.label 2013
            p.label Project
            p.label Branding
