.projects
  .spacer-block
    .wrapper
      h1.alpha Projects
      .projects-content
        .projects-list
          a.project-item(href='/aucta.html')
            p.beta
              .dots-sign
              span AUCTA
            p.text-sm 2019 – now
            p.text-sm Venture
            p.text-sm Product Strategy, Product Design,
            p.text-sm Branding
