// Aucta

.aucta {
  .hero-image {
    margin-left: 1.25rem;
    right: -1.25rem;

    img {
      border-radius: 0.875rem 0 0 0.875rem;
      max-height: 53.75rem;
      box-shadow: 0rem 3.7041rem 7.7714rem rgba(45, 48, 57, 0.09),
        0rem 1.5475rem 3.2467rem rgba(45, 48, 57, 0.0646969),
        0rem 0.8274rem 1.7358rem rgba(45, 48, 57, 0.0536497),
        0rem 0.4638rem 0.9731rem rgba(45, 48, 57, 0.045),
        0rem 0.2463rem 0.5168rem rgba(45, 48, 57, 0.0363503),
        0rem 0.1025rem 0.2151rem rgba(45, 48, 57, 0.0253031);
    }
  }
  .project {
    &-hero {
      padding-bottom: 4rem;
      padding-right: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      .hero-image {
        position: relative;
      }
    }

    &-tags {
      max-width: 25rem;
      .main-text {
        opacity: 0.3;
      }
    }
  }

  .block-info {
    max-width: calc(100% - 2.5rem);
  }

  &-block {
    padding: 1.25rem 0;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
    }
    .main-text {
      margin-bottom: 1.25rem;
    }
    .jumbo {
      margin-bottom: 0.6875rem;
    }
  }

  .info-data {
    margin-bottom: 0;
    padding-bottom: 1.25rem;
  }

  .info-piece {
    .label {
      font-size: 1.0313rem;
      line-height: 122%;
    }
  }

  .cards {
    margin-top: 1.5rem;
  }

  .card {
    margin-bottom: 1.5rem;
    &-visual {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: darken($whiteish, 0.5%);
      border-radius: $border-radius-md;
      padding: 0 2.25rem;
      height: 12.0625rem;
      margin-bottom: 0.875rem;
      color: $black;
      img {
        max-height: calc(100% - 3.75rem);
      }
      .subtitle {
        font-weight: 400;
        font-size: 0.8438rem;
        line-height: 122%;
        opacity: 0.5;
      }
    }

    .auctare {
      width: 10.3125rem;
      margin-bottom: 1.25rem;
    }
  }

  &-app {
    padding: 1rem 0 0 0;
    .block-visual {
      margin-bottom: 1.375rem;
    }
    .jumbo {
      margin-bottom: 1.25rem;
    }
    .text-block {
      margin-bottom: 3.25rem;
    }
    .beta {
      margin-bottom: 0.5rem;
    }
  }

  &-brand {
    padding: 1.625rem 0;
  }

  &-values {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    .jumbo {
      margin-bottom: 0.75rem;
    }
    .text-block {
      margin-bottom: 1rem;
    }
    .beta {
      margin-bottom: 0.375rem;
    }
    .text-sm {
      opacity: 0.5;
    }
  }

  // Media queries

  // Palm

  @include media-query(palm) {
    .card {
      .main-text {
        max-width: calc(100% - 1.875rem);
      }
    }
    .info-piece {
      .label {
        font-size: 16.5008px;
      }
    }

    .mobile-top {
      order: -1;
      margin-bottom: 0.625rem;
      img {
        position: relative;
        max-width: none;
      }
      &.left-align {
        img {
          left: -15%;
          width: 115%;
        }
      }
      &:not(.left-align) {
        img {
          width: 31.25rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .block-info {
      margin-bottom: 0;
    }

    .hero-image {
      order: -1;
      margin: 0;
      width: calc(100% + 1.25rem);
      left: 0.0625rem;
      top: -1.625rem;
    }

    .info-piece {
      &:nth-child(3) {
        order: 4;
      }
    }
    &-values {
      .mobile-top {
        margin-bottom: 2.25rem;
        &:not(.left-align) {
          img {
            width: 100%;
            left: 0;
            transform: none;
          }
        }
      }
    }
  }

  // Lap

  @include media-query(lap) {
    .value {
      font-size: 3.4375rem;
    }
  }

  // Lap and up

  @include media-query(lap-and-up) {
    .spacer-block {
      padding-bottom: 2.125rem;
    }

    .hero-image {
      img {
        width: 153%;
        max-width: none;
        max-height: 56.25rem;
      }
    }

    .block-info {
      margin-bottom: 2.875rem;
    }

    .project-hero {
      flex-direction: row;
    }

    &-block {
      padding: 6.875rem 0;
      .jumbo {
        margin-bottom: 0.75rem;
        max-width: 25.75rem;
      }
      .main-text {
        max-width: 20.875rem;
      }
      &.inline-block {
        padding: 3.1875rem 0;
        flex-direction: row;
        .block-visual {
          padding-left: 5.3125rem;
        }
        .main-text {
          max-width: 16.625rem;
        }
      }
    }
    .card {
      .main-text {
        padding-right: 1.25rem;
      }
    }
    &-app {
      padding: 6.875rem 0;
      display: flex;
      align-items: center;
      .jumbo {
        margin-bottom: 0.625rem;
      }
      .block-visual {
        flex: 0 0 22.5rem;
      }
      .block-info {
        flex: 1 1 auto;
        padding-left: 6.25rem;
      }
      .text-grid {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      .text-block {
        flex: 0 0 50%;
        padding-right: 1.875rem;
        max-width: 16.625rem;
        margin-bottom: 1.75rem;
      }
      .beta {
        min-height: 3.625rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 0.375rem;
      }
    }

    &-brand {
      padding: 4.125rem 0;
    }

    &-values {
      padding: 3.4375rem 0 1.25rem;
      flex-direction: row;
      .jumbo {
        margin-bottom: 1.625rem;
      }
      .block-info {
        flex: 0 0 15.625rem;
        margin-bottom: 0;
      }
      .block-visual {
        flex: 1 1 auto;
        padding-left: 2.25rem;
      }
    }
    .cards {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .card {
      flex: 1 1 calc(50% - 1.5rem);
      &-visual {
        height: 18.5rem;
      }
      &:nth-child(odd) {
        margin-right: 0.75rem;
      }
      .auctare {
        width: 15.8125rem;
      }
    }
  }

  // Desk wide

  @include media-query(desk-wide) {
    .hero-image {
      right: -5%;
    }
  }
}
