// BUTTONS

.button {
  display: inline-block;
  font-weight: 500;
  font-size: 0.7188rem;
  line-height: 122%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  opacity: 0.8;
  background: $gray-2;
  padding: 0.9375rem 1.1875rem;
  border-radius: $border-radius-sm;
  outline: none;
  box-shadow: none;
  border: none;
  transition: all $general-change;
  &:hover {
    background-color: darken($gray-2, 5%);
  }
}
