// Hello

.hello {
  .card {
    display: block;
    background: lighten($gray-1, 0.5);
    text-align: center;
    position: relative;
    .card-content {
      @include centered(absolute);
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      transition: opacity $general-change;
      img {
        opacity: 0.3;
      }
      p {
        margin-top: 20px;
        opacity: 0.1;
      }
    }

    &:hover {
      .card-content {
        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
        filter: grayscale(0);
        img,
        p {
          opacity: 1;
        }
      }
    }

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    p {
      font-weight: 500;
      font-size: 11.5px;
      line-height: 122%;
      text-transform: uppercase;
      opacity: 0.8;
    }
  }

  @include media-query(palm) {
    .spacer-block {
      height: 100vh;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      .image-wrapper {
        flex: 1 1 auto;
        position: relative;
        border-radius: $border-radius-md;
        overflow: hidden;
        margin-bottom: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }
    }
  }

  @include media-query(lap-and-up) {
    &-content {
      display: flex;
      align-items: flex-start;
      .portrait {
        flex: 0 1 33.3%;
        width: 33.3%;
      }
      .cards {
        padding-left: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-auto-rows: 1fr;
        grid-gap: 20px;
        width: 100%;
      }
    }
  }
  @media screen and (min-width: 920px) {
    &-content {
      align-items: flex-end;
      .portrait {
        margin-bottom: 22%;
      }
    }
  }

  // @include media-query(desk) {
  //   background: red;
  // }
}
