// holtzbrinck

.holtzbrinck {
  .hero-info {
    max-width: none;
  }

  .browser-video {
    position: relative;
    .video {
      bottom: 18%;
      left: 50%;
      transform: translateX(-50%) translateZ(0);
      width: 87%;
      position: absolute;
      z-index: 10;
      overflow: hidden;
    }
    .image {
      position: relative;
    }
  }
  @include media-query(lap-and-up) {
    &-info {
      margin-top: 3.75rem;
      .hero-info {
        margin-top: -3.5rem;
      }
    }
    .browser-video {
      position: relative;
      .video {
        width: 89%;
        bottom: 17%;
      }
    }
  }
  @include media-query(desk) {
    .text-grid {
      margin-top: -2.5rem;
    }
  }
  @supports (-webkit-touch-callout: none) {
    .browser-video {
      .video {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
      }
    }
  }
  @supports not (-webkit-touch-callout: none) {
    .browser-video {
      .video {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }
    }
  }
}
