// LAYOUT

.outer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .spacer-block {
    padding-top: 20px;
  }

  .footer {
    margin-top: auto;
  }

  @include media-query(lap-and-up) {
    .spacer-block {
      padding-top: 140px;
    }
  }
}
