// LAYOUT

.outer-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // height: 100vh;
  min-height: var(--app-height);
  // height: 100%;
  overflow: auto;

  .spacer-block {
    padding-top: 44px;
  }

  .footer {
    margin-top: auto;
  }

  @include media-query(lap-and-up) {
    .spacer-block {
      padding-top: 140px;
    }
  }
}
