// LAYOUT

.outer-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  .spacer-block {
    padding-top: 44px;
  }

  .footer {
    margin-top: auto;
  }

  @include media-query(lap-and-up) {
    .spacer-block {
      padding-top: 140px;
    }
  }
}

.clear-page {
  background: $white;
  background: linear-gradient($white, #fafafa);
}
