// Projects

.projects {
  .alpha {
    margin-bottom: 1.375rem;
  }
  &-item {
    display: block;
    transition: opacity $general-change;
    &.disabled {
      > * {
        opacity: 0.2;
      }
    }

    &:not(.disabled) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.625rem;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  .label {
    padding-left: 1.375rem;
  }
  .dot-sign {
    margin: 0 0.4375rem 0.3125rem 0;
  }
  @include media-query(palm) {
    &-item {
      width: calc(100% + 20px);
      margin-left: -10px;
      background: linear-gradient(#171717, #1b1b1b);
      padding: 10px 0 10px 10px;
      &:last-child {
        background: $base-bg;
      }
    }
  }
  @include media-query(lap-and-up) {
    .spacer-block {
      margin-top: 1rem;
    }
    .alpha {
      margin-bottom: 57px;
    }
    .title {
      .text {
        min-height: 3.375rem;
      }
    }
    &-list {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    &-item {
      flex: 0 0 calc(25% - 0.625rem);
      margin-bottom: 3.25rem;
      margin-right: 0.625rem;
    }
  }
}

// Project simple

.project {
  &.project-simple {
    .title {
      font-weight: 500;
      font-size: 38.5px;
      line-height: 46px;
      letter-spacing: -0.04em;
    }
    .hero-info {
      padding-top: 0;
    }
    .bg-pattern {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 100%;
    }
    .wrapper {
      z-index: 11;
      position: relative;
    }
    .text-grid {
      display: flex;
      align-items: flex-start;
      padding-bottom: 20px;
      flex-wrap: wrap;
    }
    .text-block {
      padding-bottom: 20px;
    }

    .project-dot-grid {
      margin: 20px 0;
    }

    .hero-image {
      top: 20px;
    }

    @include media-query(palm) {
      .project-hero {
        padding-right: 106px;
        overflow: hidden;
      }
      .hero-image {
        width: 265px;
        right: -137px;
      }
    }

    @include media-query(lap) {
      .text-block {
        flex: 1 1 50%;
        padding-right: 20px;
      }
    }

    @include media-query(desk) {
      .text-block {
        flex: 1 1 25%;
        &:not(:last-child) {
          padding-right: 38px;
        }
      }
    }
  }
}
