// Product

.product {
  $self: &;
  &-list {
    margin-top: 1rem;
    &-wrapper {
      .jumbo {
        display: flex;
        align-items: center;
        .dot {
          margin-right: 0.375rem;
          flex-shrink: 0;
        }
      }
    }
  }

  &-item {
    margin-bottom: 0.9375rem;
    padding-right: 1.25rem;
    #{$self}-title {
      display: flex;
      align-items: flex-end;
      height: 3.625rem;
    }
    .beta {
      span {
        display: block;
        &:first-child {
          margin-right: 0.375rem;
        }
      }
    }
    .dot-grid {
      margin: 0 0.625rem 0.125rem 0;
      flex: 0 0 auto;
    }
    .text-sm {
      padding: 0.5rem 0 0 1.625rem;
    }
  }
  @include media-query(lap) {
    &-item {
      .beta {
        padding-right: 2.5rem;
        span {
          display: inline-block;
        }
      }
    }
  }

  @include media-query(lap-and-up) {
    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 0;
      &-wrapper {
        padding: 2.0625rem 0;
        .jumbo {
          margin-bottom: 1.75rem;
        }
      }
    }
    &-item {
      flex: 1 1 50%;
      margin-bottom: 1.625rem;
      padding-right: 0.5rem;
    }
  }
  @include media-query(desk) {
    &-item {
      flex-basis: 25%;
    }
  }
}
