// Quote

.quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
  max-width: 920px;
  margin: 0 auto;
  &-extra {
    font-weight: $regular;
    font-size: 14.5px;
    line-height: 122%;
    opacity: 0.3;
  }
  .logo {
    margin: 0 auto;
  }
  &-text {
    font-weight: 500;
    font-size: 24.5px;
    line-height: 29px;
    letter-spacing: -0.04em;
    opacity: 0.8;
    margin-bottom: 18px;
  }
  @include media-query(palm) {
    &-img {
      display: flex;
      flex-direction: column;
    }
    .logo {
      order: -1;
      margin-bottom: 25px;
    }
    .author {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-bottom: 21px;
    }
    &-text {
      display: none;
    }
    &-extra {
      text-align: center;
    }
  }
  @include media-query(lap-and-up) {
    flex-direction: row;
    &-img {
      flex: 0 0 auto;
      .author {
        display: block;
        width: 134px;
        height: 134px;
        margin-bottom: 23px;
      }

      .logo {
        display: block;
        max-width: 134px;
      }
    }
    &-info {
      padding-left: 80px;
    }
  }
  @include media-query(desk) {
    &-info {
      padding-left: 114px;
    }
  }
}
