// Services

.services {
  &-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

    .main-text {
      margin-bottom: 20px;
      max-width: 70%;
    }
    .jumbo {
      margin-bottom: 2px;
      opacity: 0.3;
    }
  }

  &-info {
    flex: 0 0 auto;
  }

  &-visual {
    width: 50%;
    min-height: 420px;
    padding-top: 40%;
    max-width: 480px;
    position: relative;
    margin: 0 auto 40px auto;
    .circle {
      width: 156px;
      height: 156px;
      position: absolute;
      &.green {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      &.cyan {
        bottom: 0;
        left: 0;
      }
      &.blue {
        bottom: 0;
        right: 0;
      }
    }
  }

  &-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 38.5px;
    line-height: 46px;
    letter-spacing: -0.04em;
    .circle {
      flex: 0 0 auto;
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &-data {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
    .info-piece {
      flex: 1 1 50%;
    }
  }

  &-award {
    border-top: 2px solid rgba($white, 0.1);
    padding: 10px 10px 12px 0;
    display: flex;
    align-items: flex-start;

    .award-image {
      min-width: 160px;
      img {
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
      }
    }
    .delta {
      margin-bottom: 7px;
    }
  }

  &-clients {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .client {
      flex: 1 1 50%;
      margin-bottom: 52px;
      opacity: 0.7;
    }
  }

  // Media queries

  @include media-query(palm) {
    &-visual {
      order: -1;
      width: 230px;
      height: 210px;
      padding: 0;
      min-height: 0;
      .circle {
        width: 76px;
        height: 76px;
      }
    }
  }

  @include media-query(lap) {
    // &-visual {
    //   transform: scale(0.9);
    // }
  }

  @include media-query(lap-and-up) {
    &-intro {
      flex-direction: row;
      margin-bottom: 117px;
      .main-text {
        max-width: 265px;
      }
    }

    &-data {
      margin-bottom: 48px;
      .info-piece {
        flex: 1 1 calc(25% - 24px);
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }

    &-awards {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      &-wrapper {
        padding: 46px 0 33px;
        .jumbo {
          margin-bottom: 50px;
        }
      }
    }

    &-award {
      flex: 1 1 calc(50% - 12px);
      &:nth-child(odd) {
        margin-right: 12px;
      }
    }

    &-clients {
      .client {
        flex-basis: 25%;
      }
    }

    &-visual {
      margin-bottom: 0;
    }
  }
}
