// TEXTS

// Headings

.jumbo,
.alpha,
.beta,
.gamma,
.delta {
  font-weight: 500;
  letter-spacing: -0.04em;
  color: $white;
}

.jumbo {
  font-size: 38.5px;
  line-height: 46.2px;
}

.alpha {
  font-size: 33.5px;
  line-height: 40px;
}

.beta {
  font-size: 24.5px;
  line-height: 29px;
}

.gamma {
  font-size: 22.5px;
  line-height: 27px;
}

.delta {
  font-size: 15.5px;
  line-height: 19px;
}

// Texts

.main-text,
.text-sm,
.label {
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 122%;
  color: $white;
}

.main-text {
  font-size: 16.5px;
  opacity: 0.6;
}

.text-sm {
  font-size: 14.5px;
  opacity: 0.3;
}

.label {
  font-size: 13.5px;
  opacity: 0.3;
}
