// UTILS

.circle {
  border-radius: 50%;
  display: inline-block;
  &.cyan {
    background: $cyan;
  }
  &.blue {
    background: $blue;
  }
  &.green {
    background: $green;
  }
}

// Info piece

.info-piece {
  border-top: 2px solid rgba($white, 0.1);
  .value {
    font-weight: 500;
    font-size: 57.5px;
    line-height: 122%;
    letter-spacing: -0.03em;
  }
}

// Logo b/w

.logo-bw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

// Collapsable

.collapsable-button {
  display: none;
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 11.5px;
  line-height: 122%;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  opacity: 0.45;
  cursor: pointer;
  padding: 20px;
  @include media-query(palm) {
    display: block;
  }
}

.collapsable-content {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @include media-query(palm) {
    display: none;
    &.expand {
      display: block;
    }
  }
}
