// UTILS

.dot {
  border-radius: 50%;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: $gray-2;
  &.cyan {
    background: $cyan;
  }
  &.blue {
    background: $blue;
  }
  &.green {
    background: $green;
  }
}

.dot-grid {
  display: inline-flex;
  flex-wrap: wrap;
  width: 16px;
  .dot {
    width: 5px;
    height: 5px;
    margin: 0 3px 3px 0;
  }
}

.is-green {
  .active {
    background: $green;
  }
}

.is-blue {
  .active {
    background: $blue;
  }
}

.is-cyan {
  .active {
    background: $cyan;
  }
}

// Info piece

.info-piece {
  .value {
    font-weight: 500;
    font-size: 57.5px;
    line-height: 122%;
    letter-spacing: -0.03em;
  }
  @include media-query(lap-and-up) {
    border-top: 2px solid rgba($white, 0.1);
  }
}

// Logo b/w

.logo-bw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

// Background

.has-dark-gradient {
  background: rgb(23, 23, 23);
  background: linear-gradient(#171717, #1b1b1b);
}

.show-on-mobile {
  display: block;
  @include media-query(lap-and-up) {
    display: none;
  }
}

.show-on-desktop {
  display: none;
  @include media-query(lap-and-up) {
    display: block;
  }
}
