// VARIABLES

// Colors

$black: #000000;
$white: #ffffff;
$white-transparent: rgba($white, 0.3);
$whiteish: #fbfbfb;
$gray-light: #efefef;
$gray-1: #1a1a1a;
$gray-2: #393939;
$gray-3: #2d2d2d;
$gray-4: #242424;
$green: #4affa8;
$blue: #3c5bff;
$cyan: #12d4ff;
$yellow: #ffdc61;
$yellow-transparent: rgba($yellow, 12);

// Fonts

$font: 'Figtree', sans-serif;

$base-lineHeight: normal;

$extralight: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extraBold: 800;
$heavy: 900;

$font-base: 16;
$document-font-size: ($font-base / 16) * 100%;

$border-radius-sm: 11px;
$border-radius-md: 16px;

// Layout

$l-width: 100%;
$l-maxWidth: 1148px;

$base-whitespace: 1em;

// Breakpoints

// palm: for handheld devices
// lap: for tablets and netbooks and the like
// portable: for both of the above
// desk: for anything big enough to be deemed stationary

$palm-start: 540px;
$lap-start: 740px;
$desk-start: 1000px;
$desk-wide-start: 1200px;

$palm-narrow-end: $palm-start;
$palm-end: $lap-start - 1px;
$lap-end: $desk-start - 1px;
$desk-end: $desk-wide-start - 1px;
