.slides(data-aos="custom-animation")
  .slide.slide--current(data-theme="light")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background-image: url(assets/img/about/about-daniel.png)")
          .wrapper
            h1.alpha I create,&#32;
              span.mobile-break therefore I am.


  .slide(data-theme="light")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background-image: url(assets/img/about/aucta.png)")
          .wrapper
            h1.alpha AUCTA
            .slide-tags
              span.tag 2019 – now
              span.tag Co-founder & CPO
              span.tag Strategy & Product
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background-image: url(assets/img/about/nucleus.png)")
          .wrapper
            h1.alpha Nucleus Icons
            .slide-tags
              span.tag 2019 – now
              span.tag Co-founder & CPO
              span.tag Strategy & Product
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background-image: url(assets/img/about/hackerbay.png)")
          .wrapper
            h1.alpha Hackerbay
            .slide-tags
              span.tag 2019 – now
              span.tag Co-founder & CPO
              span.tag Strategy & Product
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background-image: url(assets/img/about/wizart.png)")
          .wrapper
            h1.alpha Wizart Labs
            .slide-tags
              span.tag 2019 – now
              span.tag Co-founder & CPO
              span.tag Strategy & Product
  .slide(data-theme="light")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background-image: url(assets/img/about/yral.png)")
          .wrapper
            h1.alpha YRAL.TV
            .slide-tags
              span.tag 2019 – now
              span.tag Co-founder & CPO
              span.tag Strategy & Product
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background-image: url(assets/img/about/university.png)")
          .wrapper
            h1.alpha University
            .slide-tags
              span.tag 2019 – now
              span.tag Co-founder & CPO
              span.tag Strategy & Product
