.slides(data-aos="custom-animation")
  .slide.slide--current(data-theme="light")
    .slide__inner
      .slide__img
        .slide__img-inner
          .wrapper
            h1.alpha I create,&#32;
              span.mobile-break therefore I am.
    .scroll-indicator
      p scroll
      img(src="assets/img/hand.svg", alt="hand illustration")

  .slide(data-theme="light")
    .slide__inner
      .slide__img
        .slide__img-inner
          .wrapper
            h1.alpha AUCTA
            .slide-tags
              span.tag 2019 – now
              span.tag Co-founder & CPO
              span.tag Strategy & Product
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner
          .wrapper
            h1.alpha Nucleus Icons
            .slide-tags
              span.tag 2017 – now
              span.tag Creator
              span.tag Design of premium iconset with 1000 icons
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner
          .wrapper
            h1.alpha Hackerbay
            .slide-tags
              span.tag 2016 – 2018
              span.tag Head of Design
              span.tag Design of brand, design system, client lead
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner
          .wrapper
            h1.alpha Wizart Labs
            .slide-tags
              span.tag 2016 – 2017
              span.tag Co-founder
              span.tag Design of app, brand, marketing and AI types
  .slide(data-theme="light")
    .slide__inner
      .slide__img
        .slide__img-inner
          .wrapper
            h1.alpha YRAL.TV
            .slide-tags
              span.tag 2014 – 2015
              span.tag Co-founder
              span.tag Design of brand, marketing, platform
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner
          .wrapper
            h1.alpha University
            .slide-tags
              span.tag Diplom, Communications Design
              span.tag 2010 – 2019
              span.tag Student
              span.tag University of Arts and Design Karlsruhe
