//- include slide-about.pug
//- include slide-aucta.pug
//- include slide-nucleus.pug
//- include slide-hackerbay.pug
//- include slide-wizart.pug
//- include slide-yral.pug
//- include slide-university.pug

.slides
  .slide.slide--current(data-theme="light")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background: url(assets/img/about/aucta.png)")
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background: url(assets/img/about/aucta.png)")
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background: url(assets/img/about/aucta.png)")
  .slide(data-theme="dark")
    .slide__inner
      .slide__img
        .slide__img-inner(style="background: url(assets/img/about/aucta.png)")
