//- include slide-about.pug
//- include slide-aucta.pug
//- include slide-nucleus.pug
//- include slide-hackerbay.pug
//- include slide-wizart.pug
include slide-yral.pug
//- include slide-university.pug
