.about-slide.about.clear-theme
  include ../menu.pug
  +menu('about')
  .spacer-block
    img.bg-image(
        src='assets/img/about/about-daniel-sm.png',
        srcset='assets/img/about/about-daniel-sm.png 563w, assets/img/about/about-daniel.png 2160w',
        sizes='(max-width: 700px) 563px, 2160px',
        alt='Daniel Seiler writing in a board')
    .wrapper
      h1.alpha I create,&#32;
        span.mobile-break therefore I am.
