.slide.hackerbay#four
  include ../menu.pug
  +menu('about')
  .spacer-block
    img.bg-image(
      src='assets/img/about/hackerbay-sm.png',
      srcset='assets/img/about/hackerbay-sm.png 563w, assets/img/about/hackerbay.png 2160w',
      sizes='(max-width: 700px) 563px, 2160px',
      alt='Man with a black and white hoodie in the street')
    .wrapper
      h1.alpha Hackerbay
      .slide-tags
        span.tag 2019 – now
        span.tag Co-founder & CPO
        span.tag Strategy & Product
