.slide.wizart
  include ../menu.pug
  +menu('about')
  .spacer-block
    img.bg-image(
      src='assets/img/about/wizart-sm.png',
      srcset='assets/img/about/wizart-sm.png 563w, assets/img/about/wizart.png 2160w',
      sizes='(max-width: 700px) 563px, 2160px',
      alt='Colored gallery hallway')
    .wrapper
      h1.alpha Wizart Labs
      .slide-tags
        span.tag 2019 – now
        span.tag Co-founder & CPO
        span.tag Strategy & Product
