.about-slide.nucleus
  include ../menu.pug
  +menu('about')
  .spacer-block
    img.bg-image(
      src='assets/img/about/nucleus-sm.png',
      srcset='assets/img/about/nucleus-sm.png 563w, assets/img/about/nucleus.png 2160w',
      sizes='(max-width: 700px) 563px, 2160px',
      alt='Imac with Nucleus Iconset page')
    .wrapper
      h1.alpha Nucleus Icons
      .slide-tags
        span.tag 2019 – now
        span.tag Co-founder & CPO
        span.tag Strategy & Product
