.project-dot-grid
  span.dot
  span.dot
  span.dot
  span.dot
  span.dot
  span.dot

  span.dot
  span.dot
  span.dot
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Icon design & iconset design')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Website design')
  span.dot

  span.dot
  span.dot.green.js-tippy.disabled(data-tippy-content='Quality improvement')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='User experience design')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Interaction design')
  span.dot
  span.dot

  span.dot.green.js-tippy.disabled(data-tippy-content='Product Leadership')
  span.dot
  span.dot.cyan.js-tippy.disabled(data-tippy-content='User interface design')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='UX flow mapping')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Brand & identity strategy')
  span.dot
