.project.nucleus
  img.nebula(src='assets/img/nucleus/nebula.png', alt='nebula')
  include nucleus-hero.pug
  .wrapper
    include nucleus-data.pug
  .wrapper
    include nucleus-icon-list.pug
  .wrapper
    include nucleus-awards.pug
  include nucleus-summary.pug
