.info-data(data-aos="custom-animation")
  .info-piece
    p.value 1000+
    p.label Icons designed
  .info-piece
    p.value 5
    p.label Years since launch
  .info-piece
    p.value 500+
    p.label Iconsets sold
  .info-piece
    p.value $75
    p.label Regular buying price
