.awards-wrapper(data-aos="custom-animation")
  .awards
    .award
      .award-image
        img.logo-bw(src='../assets/img/awwards.svg', alt='Awwwards', style={'width': '82px'})
      .award-text
        h3.delta Honorable mention
        p.label 2018
          br
          | Nucleus iconset website
    .award
      .award-image
        img.logo-bw(src='../assets/img/ui-8.svg', alt='UI 8', style={'width': '22px'})
      .award-text
        h3.delta UI8.net ranking top 5 favorite
        p.label 2017-now
          br
          | In category iconsets from independent creators
    .award
      .award-image
        img.logo-bw(src='../assets/img/iconjar.svg', alt='Iconjar', style={'width': '22px'})
      .award-text
        h3.delta 2nd Place at Media Hackday
        p.label 2016
          br
          | Axel Springer SE
