.spacer-block
  .wrapper
    .hero-image(data-aos="custom-animation")
      img.watch(src='assets/img/nucleus/iwatch.webp', alt='i watch nucleus icon set')
    .project-hero(data-aos="custom-animation")
      .hero-info
        h1.alpha.op-30 Project
        h1.alpha Nucleus Iconset
        .project-tags
          p.main-text 2017 – now
          p.main-text Product Design
          p.main-text Venture
          p.main-text Branding
        include nucleus-dot-grid.pug
        p.main-text An Iconset consists of many icons designed in a consistent style. Professional designers, marketers and brand managers buy iconsets because they don’t have an in-house team to deliver a comparable quality, and/or because they aim to save time using already created assets rather than designing them from scratch.
        p.main-text 2017s first version featured 125 icons. Today, Nucleus Icons is over 1000 icons large and available in 3 styles:
          br
          | Monoline binary
          br
          | Duotone dark
          br
          | Duotone light
