.nucleus-summary(data-aos="custom-animation")
  .wrapper
    .info
      p.main-text Nucleus Iconset is a set of stylized symbols – graphical elements that can be used to deliver meaning in a non-linguistic but graphical way.
      p.main-text What makes Nucleus unique is the style, the precision and shape of the crafted icon-illustrations and the timely and carefully researched motives.
      p.main-text The iconset captures the conceptual meaning of most recent trends to turn them into graphical elements.
      p.main-text Nucleus empowers you with novel icons in artifical intelligence, augmented and virtual reality, defense, blockchain, spatial computing, sustainability and more.
      a.button(href='https://nucleusicons.com/', target='_blank', rel='noopener nonreferrer') Visit website
    img.iphone-image(src='assets/img/nucleus/iphone.webp', alt='iphone')
