.text-grid.wrapper
  .text-block
    h2.text-title Worth diving into
    p.text Target of launching the first version of the Skype Developer Platform was to introduce developers with a well made nice looking tool that invited to play around and look like something worth diving into.
  .text-block
    h2.text-title Inspire & invite
    p.text As the design lead of the project, together with the team we worked out the idea to use technological graphics and give the appearance of a certain playfulness while also visually conveying the vast amount of daily conversations to tap into.
  .text-block
    h2.text-title Usability first
    p.text Key action of the developer platform is developers starting to use the tool, hence it was obligatory to create a seamless user experience to install and start working with the bot ecosystem for various infrastructures.
  .text-block
    h2.text-title From hackers for hackers
    p.text While working for Hackerbay at that time, the internal team culture was enriched with daily developer engagement tinkering with frameworks, tools and building prototypes. “We basically built the v1 for ourselves” – which is probably the reason why the outcome succeeded so well (and why it diverged quite a bit from Microsofts CI guidelines ;)).
