.spacer-block
  img.bg-pattern(src='assets/img/skype/pattern.svg', alt='skype pattern')
  .wrapper
    .project-hero(data-aos="custom-animation")
      .hero-info
        h1.title.op-30 Project
        h1.title Skype Developer Platform
        .project-tags
          p.main-text 2017
          p.main-text Design
          p.main-text Project
          p.main-text Branding
        include skype-dot-grid.pug
        p.main-text Skype is one of the most iconic communication products of the 21st century internet era.
        p.main-text Skype led the way for remote communication tools and initially had its unique selling point on a peer-to-peer connection that allowed users to have phone and later video conversations without a centralized server infrastructure.
        p.main-text With 3 billion minutes of conversations every day in 2017, Skype seized the opportunity to provide an open Chatboot tooling system for developers by launching a developer platform, allowing developers to build smart applications via API. Dev.skype.com has been discontinued in 2020.
      .hero-image(data-aos="custom-animation")

        img(src='assets/img/skype/iphone.png', alt='Iphone Skype Developer Platform')
