.block-carousel(data-aos="custom-animation")
  .custom-carousel
    img(src="/assets/img/skype/slide2.png", alt="Slide 1")
    img(src="/assets/img/skype/slide3.png", alt="Slide 2")
    img(src="/assets/img/skype/slide1.png", alt="Slide 3")
