.project-dot-grid
  span.dot
  span.dot
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Feature flow /experience mapping')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Icon & illustration animation')
  span.dot
  span.dot

  span.dot
  span.dot
  span.dot
  span.dot.cyan.js-tippy.disabled(data-tippy-content='Icon design & iconset design')
  span.dot.blue.js-tippy.disabled(data-tippy-content='Website design')
  span.dot

  span.dot
  span.dot
  span.dot.cyan.js-tippy.disabled(data-tippy-content='User experience design')
  span.dot
  span.dot
  span.dot

  span.dot
  span.dot
  span.dot.cyan.js-tippy.disabled(data-tippy-content='User interface design')
  span.dot.cyan.js-tippy.disabled(data-tippy-content='UX flow mapping')
  span.dot
  span.dot
