mixin footer(className)
  footer.footer(class=className)
    .wrapper
      .footer-col
        p © 2022 – Daniel Seiler
      .footer-col
        a(href='') Legal & privacy Settings
      .footer-col
        p Coded with ❤ by
          a(href='https://bonsaitech.io', target='_blank') Bonsai Studios
      .footer-col.social
        a.social-media-icon(href='#')
          img(src="../assets/icons/icon-linkedin.svg", alt="linkedin")
        a.social-media-icon(href='#')
          img(src="../assets/icons/icon-circles.svg", alt="circles")
