head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
  meta(description='')
  meta(property='og:title', content='Daniel Seiler')
  meta(property='og:site_name', content='Daniel Seiler')
  meta(property='og:url', content='')
  meta(property='og:description', content='Atención psicológica gratuita para afectados por el COVID-19')
  meta(property='og:type', content='website')
  meta(property='og:image', content='')
  meta(property='og:image', itemprop="image", content='')
  meta(property='og:image', itemprop="image", content='')
  meta(name='twitter:card', content="")
  meta(name='twitter:image:alt', content="Daniel Seiler")
  title Daniel Seiler
  //if lt IE 9
    script(src='assets/javascripts/lib/html5shiv.js')
  link(rel='shortcut icon' type='image/png' href='')
  link(rel='stylesheet' href='assets/styles/styles.css')
  link(rel='stylesheet' href='https://unpkg.com/aos@2.3.1/dist/aos.css')
