mixin header(className)
  header.main-header
    .wrapper
      button.menu-button
        span
        span
        span
      nav.main-nav
        a.nav-item(href="/index.html") Hello
        a.nav-item(href="") About me
        a.nav-item(href="") Projects
        a.nav-item(href="") Services
        a.nav-item(href="") Publications
        a.nav-item(href="") Shop
        a.nav-item(href="") Contact
