
mixin menu(className)
  div.menu
    nav.menu-nav
      a.menu-item(href="/index.html") Hello
      a.menu-item(href="/about.html") About me
      a.menu-item(href="") Projects
      a.menu-item(href="") Services
      a.menu-item(href="") Publications
      a.menu-item(href="") Shop
      a.menu-item(href="") Contact
  button.menu-mobile-button
    span
    span
