mixin menu(activePage, menuClass)
  div.menu(class=menuClass)
    nav.menu-nav
      a.menu-item(class={active: activePage === 'hello'} href="/index.html") Hello
      a.menu-item(class={active: activePage === 'about'} href="/about.html")  About me
      a.menu-item(class={active: activePage === 'projects'} href="/projects.html") Projects
      a.menu-item(class={active: activePage === 'services'} href="/services.html") Services
      a.menu-item(class={active: activePage === 'publications'} href="/publications.html") Publications
      a.menu-item(class={active: activePage === 'shop'} href="https://nucleusicons.com", target='_blank', rel='noopener noreferrer') Shop
      a.menu-item(class={active: activePage === 'contact'} href="mailto:daniel@daniel-seiler.com") Contact
  button.menu-mobile-button
    include svg/menu-line.pug
    include svg/menu-line.pug
