script(src='assets/js/lib/jquery-3.6.1.min.js')
script(src='assets/js/scripts-min.js')
script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
script(src='https://unpkg.com/@popperjs/core@2')
script(src='https://unpkg.com/tippy.js@6')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/Observer.min.js")
script(src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.1.7/src/glowCookies.min.js")
