.text-grid.wrapper(data-aos="custom-animation")
  .text-block
    h2.text-title User Experience
      br
      |Research
    p.text Great tech products are improved in thousands of continuous iterations. Others follow larger cycles of a relaunch. Hugo Bosses e-commerce platform is one of the latter. All knowledge from previous versions is carried forth into the next version, drawing historical data, setting up hypotheses and testing ideas through user interviews where we did plenty.
  .text-block
    h2.text-title Strategical
      br
      | decision making
    p.text Doctors to x-rays and blood tests for better decision making which then results in a proposed plan.After consolidating everything we knew thus far, a strategy was decided. Key was keeping the plan simple and not allowing it to be mixed with different ideas.
  .text-block
    h2.text-title Branded
      br
      | products
    p.text One of the hardest interface challenges of all industries lies in consumer products where brands try to create unique branded experiences that are also usable and satisfy UX needs.Brand and UX needs always diverge, demand for compromises. Mastering the challenge of meeting high expectations on both pushes a designers strength to the limits.
  .text-block
    h2.text-title The emotional
      br
      | & rational battle
    p.text Excellent UX is a non-creative, purely rational task which only requires lots of data from both machines and humans (And what is human data even?).
      br
      | Excellent branding is a creative, emotional exercise that requires artistic skill and non-verbal understanding (think of art directors).
      br
      | You get why companies seperate these in their hierarchies, why brand is often nested into marketing. For some business models such as fashion both have to harmonize to achieve business success.
