.wrapper(data-aos="custom-animation")
  include ../../shared/quote.pug
  +quote('/assets/img/davide.png', 'Davide Barni', '/assets/img/hugo-boss.jpg', 'Hugo Boss', '"Daniels bandwidth of capabilities from research and strategical thinking to applied UI/UX design was a key ingredient for the success of the initiative."', 'Senior Manager Digital Design at HUGO BOSS', '65px', '24px')
