.spacer-block
  .wrapper
    .project-hero(data-aos="custom-animation")
      .hero-info
        h1.title.op-30 Project
        h1.title #IamHUGO
        .project-tags
          p.main-text 2018
          p.main-text Strategy
          p.main-text Project
          p.main-text Design
          p.main-text
          p.main-text Branding
        include hugo-dot-grid.pug
        p.main-text To elevate its user experience on their own e-commerce platform HUGO was pushing for innovative approaches on how that could be done. After all, they have much more power to create a branded experience compared to when customers see their products in apps like Zalando.
        p.main-text In an intensive user research phase and analysis of internal approaches of the past, the stakeholders concluded to aim for an approach where an AI recommendation system modifies the user experience in real time past what the typical “customers who bought this also bought” has to offer.
      .hero-image(data-aos="custom-animation")
        img(src='assets/img/allianz/ipad.png', alt='Allianz Check My back ipad')
