.block-carousel(data-aos="custom-animation")
  .custom-carousel
    img(src="/assets/img/hugo/slide1.png", alt="Slide 1")
    img(src="/assets/img/hugo/slide2.png", alt="Slide 2")
    img(src="/assets/img/hugo/slide3.png", alt="Slide 3")
    img(src="/assets/img/hugo/slide4.png", alt="Slide 4")
