.wrapper
  .hugo-flow(data-aos="custom-animation")
    .image
      img(src="/assets/img/hugo/hugo-workflow.webp", alt="Hugo Boss app view")
    .text-block
      h2.beta UX flow mapping
      p.main-text Taking a step back, drawing the map – an invention as old as mankind itself.
        br
        | An intuitive navigation requires a solid concept aligned with a users expectations on where to find certain functions on the one hand.
        br
        | On the other hand a historical statistical analysis of past actions allows making informed design decisions to decrease prominence of certain features and elevate others for to increase app engagement.
