.hello
  .spacer-block
    .wrapper
      h1.jumbo.op-30 Daniel Seiler
    .intro-item
      span.dot.green
      span Product Strategy,
    .intro-item
      span.dot.cyan
      span Product Design &
    .intro-item
      span.dot.blue
      span Product Branding
  .hello-content
    img.portrait(src='assets/img/daniel-portrait.png', alt='Daniel Seiler')
    .cards
      a.card(href='/about.html')
        .card-content
          img(src="assets/img/pattern1.svg", alt="Visual pattern", width='95px')
          p About me
      a.card(href='/projects.html')
        .card-content
          img(src="assets/img/pattern2.svg", alt="Visual pattern", width='95px')
          p Projects
      a.card(href='/services.html')
        .card-content
          img(src="assets/img/pattern3.svg", alt="Visual pattern", width='90px')
          p Services
      a.card(href='/publications.html')
        .card-content
          img(src="assets/img/pattern4.svg", alt="Visual pattern", width='112px')
          p Publications
      a.card(href='/shop.html')
        .card-content
          img(src="assets/img/pattern5.svg", alt="Visual pattern", width='108px')
          p Shop
      a.card(href='/contact.html')
        .card-content
          img(src="assets/img/pattern6.svg", alt="Visual pattern", width='121px')
          p Contact
