.hello(data-aos="custom-animation")
 .wrapper
  .spacer-block
    .image-wrapper.show-on-mobile
      img.portrait(src='assets/img/daniel-portrait2.png', alt='Daniel Seiler')
    .intro
      h1.jumbo.op-30 Daniel Seiler
      .intro-item
        span.dot.green
        span Product Strategy
      .intro-item
        span.dot.cyan
        span Product Design
      .intro-item
        span.dot.blue
        span Product Branding
  .hello-content
    img.portrait.show-on-desktop(src='assets/img/daniel-portrait2.png', alt='Daniel Seiler')
    .cards
      a.card(href='/about.html')
        .card-content
          img(src="assets/img/pattern1.svg", alt="Visual pattern", width='95px',height='95px')
          p About me
      a.card(href='/projects.html')
        .card-content
          img(src="assets/img/pattern2.svg", alt="Visual pattern", width='95px',height='95px')
          p Projects
      a.card(href='/services.html')
        .card-content
          .lottie-box
            lottie-player.lottie(src='assets/lotties/3-rotating-circles.json', speed='.3' loop, autoplay, style='width: 122px')
          p Services
      a.card(href='/publications.html')
        .card-content
          img(src="assets/img/pattern4.svg", alt="Visual pattern", width='112px', height='86.36px')
          p Publications
      a.card(href='https://nucleusicons.com' target='_blank', rel='noopener noreferrer')
        .card-content
          img(src="assets/img/pattern5.svg", alt="Visual pattern", width='108px', height='86.02px')
          p Shop
      a.card(href="mailto:daniel@daniel-seiler.com")
        .card-content
          img(src="assets/img/pattern6.svg", alt="Visual pattern", width='121px', height='44.17px')
          p Contact
