.awards-wrapper.has-collapsable(data-aos="custom-animation")
  .wrapper
    h1.jumbo Awards +
    .awards.collapsable-content
      .award
        .award-image
          img.logo-bw(src='../assets/img/berkeley.svg', alt='Berkeley', style={'width': '78px'})
        .award-text
          h3.delta Startup Open Innovation Award
          p.label 2019
            br
            | University of California, Berkeley & others
      .award
        .award-image
          img.logo-bw(src='../assets/img/axel-springer.svg', alt='Axel Springer', style={'width': '105px'})
        .award-text
          h3.delta 2nd Place at Media Hackday
          p.label 2016
            br
            | Axel Springer SE
      .award
        .award-image
          img.logo-bw(src='../assets/img/zurich.svg', alt='Zurich', style={'width': '85px'})
        .award-text
          h3.delta Winner of Insurance Hackathon
          p.label 2017
            br
            | Zurich Insurance Group
      .award
        .award-image
          img.logo-bw(src='../assets/img/hubert-burda-media.svg', alt='Hubert Burda Media', style={'width': '115px'})
        .award-text
          h3.delta 2nd Prize at Open Data Hackathon
          p.label 2015
            br
            | Hubert Burda Media
      .award
        .award-image
          img.logo-bw(src='../assets/img/awwards.svg', alt='Awwwards', style={'width': '82px'})
        .award-text
          h3.delta Honorable Mention
          p.label 2018
            br
            | Nucleus Iconset
      .award
        .award-image
          img.logo-bw(src='../assets/img/bd-bahn.svg', alt='DB Bahn', style={'width': '78px'})
        .award-text
          h3.delta 2nd Place & DB Challenge Prize at Energy & Transport Hackathon
          p.label 2015
            br
            | DB
      .award
        .award-image
          img.logo-bw(src='../assets/img/geekettes.png', alt='Geekettes', style={'width': '52px'})
        .award-text
          h3.delta Winner of Geekettes Hackathon
          p.label 2015
            br
            | University of Calfornia, Berkeley & others
      .award
        .award-image
          img.logo-bw(src='../assets/img/axel-springer.svg', alt='Axel Springer', style={'width': '105px'})
        .award-text
          h3.delta API Prize Media Hackday
          p.label 2015
            br
            | Axel Springer SE
      .award
        .award-image
          img.logo-bw(src='../assets/img/nasa.svg', alt='Nasa', style={'width': '53px'})
        .award-text
          h3.delta Audience Award Spaceapps Hackathon
          p.label 2015
            br
            | Lab75 and NASA
      .award
        .award-image
          img.logo-bw(src='../assets/img/axel-springer.svg', alt='Axel Springer', style={'width': '105px'})
        .award-text
          h3.delta Winner Media Hackday
          p.label 2014
            br
            | Axel Springer SE
      .award
        .award-image
          img.logo-bw(src='../assets/img/hubert-burda-media.svg', alt='Hubert Burda Media', style={'width': '114px'})
        .award-text
          h3.delta 3rd Place at Open Data Hackday
          p.label 2014
            br
            | Hubert Burda Media
      .award
        .award-image
          img.logo-bw(src='../assets/img/hubert-burda-media.svg', alt='Hubert Burda Media', style={'width': '105px'})
        .award-text
          h3.delta 2nd Place at Open Data Hackday
          p.label 2014
            br
            | Hubert Burda Media
    button.collapsable-button
