.services-clients(data-aos="custom-animation")
  .client
    img.logo-bw(src='../assets/img/microsoft.svg', alt='Microsoft', style={'width': '133px'})
  .client
    img.logo-bw(src='../assets/img/patreon.svg', alt='Patreon', style={'width': '136px'})
  .client
    img.logo-bw(src='../assets/img/allianz.svg', alt='Allianz', style={'width': '120px'})
  .client
    img.logo-bw(src='../assets/img/siemens.svg', alt='Siemens', style={'width': '109px'})
  .client
    img.logo-bw(src='../assets/img/bd-bahn.svg', alt='DB Bahn', style={'width': '116px'})
  .client
    img.logo-bw(src='../assets/img/hugo-boss.svg', alt='Hugo Boss', style={'width': '143px'})
  .client
    img.logo-bw(src='../assets/img/vodafone.svg', alt='Vodafone', style={'width': '155px'})
  .client
    img.logo-bw(src='../assets/img/bverfg.svg', alt='Bundesverfassungsgericht', style={'width': '219px'})
