.services-data(data-aos="custom-animation")
  .info-piece
    p.value 10
    p.label years of experience
  .info-piece
    p.value 100
    p.label projects successfully launched
  .info-piece
    p.value 11
    p.label Awards won
  .info-piece
    p.value 100
    p.label Extended network of 100 colleagues
