.services-intro(data-aos="custom-animation")
  .services-info
    h1.jumbo Services
    .services-item
      span.circle.cyan
      span Product Strategy,
    .services-item
      span.circle.green
      span Product Design &
    .services-item
      span.circle.blue
      span Product Branding
    p.main-text Universe is an entirety –
      br
      | we humans segment it.
    p.main-text Within the spectrum of product I work in the areas of strategy, design and branding.
      br
      | All areas – strategy, design and branding – affect one another. Producing extraordinary outcomes requires overarching proficiency.
      br
      | From age 13 I’ve built and designed web apps; it just feels natural to me.
  .services-visual
    span.circle.cyan
    span.circle.green
    span.circle.blue
