.product-list-wrapper.has-collapsable.has-dark-gradient(data-aos="custom-animation")
  .wrapper
    h1.jumbo
      span.dot.blue
      span.text Product Branding
    .collapsable-content
      .product-list.is-blue
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(7)
            h2.beta
              span Brand & identity
              span strategy
          p.text-sm Values, business strategy, product & culture.
            br
            | Cheap, Normal, Premium, Luxury.
            br
            | What’s the smartest strategy to express such attributes on a visual level?
            br
            | Can Your venture express its uniqueness?
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(5)
            h2.beta
              span Logo
              span Design
          p.text-sm Logos can be the reasons talent doesn’t join Your company, foreigners won’t adopt Your product, people don’t recognize Your company, customers don’t trust to make the buying decision and nobody can identify it anything when standing too far away.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(3)
            h2.beta
              span Website
              span Design
          p.text-sm “Make your website your most important marketing tool.”
            br
            | Patrick Collison, Co-founder & CEO of Stripe.
            br
            | $100Bn+ market cap don’t lie.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(1)
            h2.beta
              span Carving
              span values
          p.text-sm As the title indicates, values are not something free of choice – the existing founders and team already embody values.
            br
            | I enjoy facilitating and working out the best and right amount of values with the team.

    button.collapsable-button
