.product-list-wrapper.has-collapsable.has-dark-gradient(data-aos="custom-animation")
  .wrapper
    h1.jumbo
      span.dot.green
      span.text Product Strategy
    .collapsable-content
      .product-list.is-green
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(7)
            h2.beta
              span Product
              span leadership
          p.text-sm As Chief Product Officer, VP Design or similar, operational role. Turning a product around or successfully bringing a new one to life.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(5)
            h2.beta
              span OKR
              span design & supervision
          p.text-sm Numbers that resemble the objective are hard to find and can have a huge leverage. For intrinsically motivated teams and great management.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(3)
            h2.beta
              span Deductive goal
              span Definement
          p.text-sm A well executed vision and mission derivation of product goals is critical for organizational alignment and long-term navigational accuracy.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(1)
            h2.beta
              span Product strategy
              span definition & buy-ins
          p.text-sm Cross department product strategy definition & buy-in across the organization.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(8)
            h2.beta
              span Roadmap design &
              span refocus
          p.text-sm If you want to cut corners, you need to understand all weights of decisions regarding their effect of the outcome to cut the right corners. Nobody wants to hit the deadline goals with an abomination created.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(6)
            h2.beta
              span Quality
              span improvement
          p.text-sm Quality refers to the value a customer receives from your product over its lifetime. Not everything is measurable. My tacit knowledge from experience helps here.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(4)
            h2.beta
              span Research
          p.text-sm Most problems have already been solved in other environments, you just need to know where to look. Steve Jobs famously called it: “We compare and benchmark” and then proceeded to copy from his competitors.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(2)
            h2.beta
              span Executive
              span coaching
          p.text-sm Always learn the recipe before freestyling. I spent years making mistakes you can now prevent by following certain advice from me in product.


    button.collapsable-button(role='button', aria-label='collapsable')
