.product-list-wrapper.has-collapsable.has-dark-gradient(data-aos="custom-animation")
  .wrapper
    h1.jumbo
      span.dot.cyan
      span.text Product Design
    .collapsable-content
      .product-list.is-cyan
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(7)
            h2.beta
              span User interface
              span design
          p.text-sm Effective User Interfaces can help day-to-day software operators save tons of time, make better decisions or reduce cognitive load.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(5)
            h2.beta
              span User experience
              span design
          p.text-sm The key to modern software UX is reducing cognitive load to a minimum and enable customers to achieve key actions in lowest possible time, all based on psychological insights and mechanisms.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(3)
            h2.beta
              span UI
              span design systems
          p.text-sm A good UI design system is measured by higher productivity in engineering & design, higher sense of security by users and higher outcome quality.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(1)
            h2.beta
              span Feature flow /
              span experience mapping
          p.text-sm Collaborative work with engineers and/or product owners to work out smart and functional features feasible in their creation.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(8)
            h2.beta
              span UX flow
              span mapping
          p.text-sm Systemic planning as a foundation for iterative UX simplification.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(6)
            h2.beta
              span Interaction
              span design
          p.text-sm If you want to convince and sell today, your product and visual experiences will have to excel in their interactive and timely dimension. An opportunity for UX breakthroughs and unique innovations.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(4)
            h2.beta
              span Icon design &
              span iconset design
          p.text-sm Consistent iconography and use of digital assets builds trust with all stakeholding users and has usability, entertaining and symbolic value.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(2)
            h2.beta
              span Icon & illustration
              span animation
          p.text-sm Motion & interaction design is a standard in 2022. Static everything in the web just tells your audience how old you have become. Animated icons and illustrations, passive or by interaction create an additional level of juiciness.


    button.collapsable-button
