.product-list-wrapper.has-collapsable(data-aos="custom-animation")
  .wrapper
    h1.jumbo
      span.dot.cyan
      span.text Product Design
    .collapsable-content
      .product-list.is-cyan
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(7)
            h2.beta
              span User Interface
              span Design
          p.text-sm Effective User Interfaces can help day-to-day software operators save tons of time, make better decisions or reduce cognitive load.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(5)
            h2.beta
              span User Experience
              span Design
          p.text-sm The key to modern software UX is reducing cognitive load to a minimum and enable customers to achieve key actions in lowest possible time, all founded on psychological insights and mechanisms.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(3)
            h2.beta
              span UI
              span Design Systems
          p.text-sm A good UI design system iy measured by higher productivity in engineering & design, higher sense of security by users and higher outcome quality.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(1)
            h2.beta
              span Feature flow /
              span experience mapping
          p.text-sm Collaborative work with engineers and/or product owners to work out smart and functional features feasible in their creation.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(8)
            h2.beta
              span UX flow
              span mapping
          p.text-sm Systemic planning as a foundation for iterative UX simplification.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(6)
            h2.beta
              span Interaction
              span design
          p.text-sm If you want to convince and sell today, your product and visual experiences will have to excel in their interactive and timely dimension. An opportunity for UX breakthroughs and unique innovations.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(4)
            h2.beta
              span Icon design &
              span Iconset design
          p.text-sm Consistent iconography and use of digital assets can be endlessly complex and professionalized – if you want it to be – if it’s worth it.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(2)
            h2.beta
              span Icon & illustration
              span animation
          p.text-sm Movement attracts. As such are animated icons and illustrations. Passive or by interaction, an additional level of juiciness (a type of entertainment/ pleasure felt from artistic and aesthetic creations) can be achieved with a layer of motion design.


    button.collapsable-button
