.product-list-wrapper.has-collapsable.has-dark-gradient(data-aos="custom-animation")
  .wrapper
    h1.jumbo
      span.dot.green
      span.text Product Strategy
    .collapsable-content
      .product-list.is-green
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(7)
            h2.beta
              span Product
              span Leadership
          p.text-sm As Chief Product Officer or similar, operational role. Turning a product around or successfully bringing a new one to life.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(5)
            h2.beta
              span OKR
              span Design & supervision
          p.text-sm Nothing more fatal than running after the wrong number. For intrinsically motivated teams and great management.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(3)
            h2.beta
              span Deductive goal
              span Definement
          p.text-sm A well executed vision and mission derivation of product goals is critical for organizational alignment and long-term navigational accuracy.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(1)
            h2.beta
              span Product strategy
              span definition & buy-ins
          p.text-sm Cross department product strategy definition & buy-in across the organization.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(8)
            h2.beta
              span Roadmap design &
              span Refocus
          p.text-sm If you want to cut corners, you need to understand all weights of decisions regarding their effect of the outcome to cut the right corners. Nobody wants to hit the deadline goals with an abomination created.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(6)
            h2.beta
              span Quality
              span improvement
          p.text-sm Quality refers to the value a customer receives from your product over its lifetime. Not everything is measurable. My tacit knowledge from experience helps here.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(4)
            h2.beta
              span Research
          p.text-sm Various types of research that leads to better strategical decisions. Slightly more advanced than looking at market report summaries for 10 minutes and scrolling through crunchbase while taking a dump.
        .product-item
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(2)
            h2.beta
              span Executive
              span coaching
          p.text-sm Helping product leaders in a long-term coaching and sparring role to improve abilities to successfully run their product department.


    button.collapsable-button
