.product-list-wrapper.has-collapsable(data-aos="custom-animation")
  .wrapper
    h1.jumbo
      span.dot.blue
      span.text Product Branding
    .collapsable-content
      .product-list.is-blue
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(7)
            h2.beta
              span Brand & identity
              span strategy
          p.text-sm Values, business strategy, product & culture.
            br
            | Cheap, Normal, Premium, Luxury.
            br
            | What’s the smartest strategy to express such attributes on a visual level?
            br
            | Can Your venture express its uniqueness?
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(5)
            h2.beta
              span Logo
              span design
          p.text-sm  Logos can be the reasons talent doesn’t join Your company, foreigners won’t adopt Your product, people don’t recognize Your company, customers don’t trust to make the buying decision and nobody can identify anything when standing too far away.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(3)
            h2.beta
              span Website
              span design
          p.text-sm “Make your website your most important marketing tool.”
            br
            | Patrick Collison, Co-founder & CEO of Stripe.
            br
            | $100Bn+ market cap don’t lie.
        .product-item(data-aos="custom-animation")
          .product-title
            include ../shared/dot-grid.pug
            +dotGrid(1)
            h2.beta
              span Carving
              span values
          p.text-sm As the title indicates, values cannot be chosen freely – you can only derive values from the behavior and beliefs of the team/people. Aggregating those values and turning them into communicable symbols for representation is tough, though.
      include ../shared/quote.pug
      +quote('/assets/img/melanie.png', 'Melanie Depner', '/assets/img/baier.png', 'Baier Depner Rechtsanwaltsgesellschaft mbH', '"Daniel worked intensively with us to ultimately arrive with a logo we’re proudly using for nearly 10 years now. I didn’t know design involved so much strategical preparation and thinking before going into the visuals."', 'Founding Partner at Baier Depner Rechtsanwaltsgesellschaft mbH', '93px', '29px')

    button.collapsable-button(role='button', aria-label='collapsable')
