.services-content
  .spacer-block.has-dark-gradient
    .wrapper
      include intro.pug
      include data.pug
      include clients.pug
  include awards.pug
  include product-strategy.pug
  include product-branding.pug
  include product-design.pug
