.services-content
  .spacer-block.has-dark-gradient
    .wrapper
      include intro.pug
      include data.pug
      include clients.pug
  include awards.pug
  include product-strategy.pug
  include ../shared/quote.pug
  +quote('/assets/img/pierre.png', 'Pierre Becerril', '/assets/img/transparent.png', 'Transparent Intelligence', '"We needed to increase our productization.\n Daniel worked out concepts increased the reduction of manual overhead while delivering the same output to our customers."', 'Founder & CEO Transparent Intelligence', '134px', '28px')
  include product-design.pug
  include ../shared/quote.pug
  +quote('/assets/img/melanie.png', 'Melanie Depner', '/assets/img/baier.png', 'Baier Depner Rechtsanwaltsgesellschaft mbH', '"Daniel worked intensively with us to ultimately arrive with a logo we’re proudly using for nearly 10 years now. I didn’t know design involved so much strategical preparation and thinking before going into the visuals."', 'Founding Partner at Baier Depner Rechtsanwaltsgesellschaft mbH', '93px', '29px')
  include product-branding.pug
  include ../shared/quote.pug
  +quote('/assets/img/jan.png', 'Jan König', '/assets/img/adscanner.png', 'Adscanner', '"Daniels business thinking mind-set combined with his design and product capabilities allowed us to work on business outcomes applying design. It’s pretty rare to get that.”', 'Co-Founder Odaline, CSO Adscanner', '101px', '18px')
